<p id="notice"><%= notice %></p>

<% @todo_lists.each do |i| %> 
  <div class="index_row clearfix">
    <h2><%= link_to i.title, i %></h2>
    <p><%= i.description %></p>
    <p><%= link_to 'Edit', edit_todo_list_path(i) %></p>
    <p><%= link_to 'Destroy', i, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %> 


<%= link_to 'New Todo list', new_todo_list_path %>
